body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
}

.pageTitle {
    margin-top: 5%;
    font-size: 30pt;
}

#homeLogo{
    width: 20%;
    margin-right: 2%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
}

.sitelinks{
}

.sitelinks a{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #636b6f;
}

.leftLinks{
    margin: 4%;
}

.rightLinks{
    margin: 3%;
}

.bottomLinks{
    padding-left: 10%;
}

.logoutLink{
    position: absolute;
    bottom: 10%;
    right: 48%;
    font-size: 12px;
    color: red;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.loginLogo{
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.formInput{
    margin-top: 10%;
}

.inputText{
    width: 30%;
    background-color: #ececf6;
    color: black;
    font-weight: bold;
}

.checkInput{
    margin-left: 33%;
}

.loginButton{
    margin-top: 5%;
}

.infoForm{
    margin-top: 5%;
}

.iframe{
    margin-top: 5%;
}

.videoContainer{
    margin: 3%;
    background-color: #d6d8d9;
}

.parDis{
    margin: 3%;
}

#adminLogo{
    width: 40%;
}

.main-keygen{
    margin-top: 30%;
}

@media only screen and (max-width:480px) {
    .sitelinks {
        float: left;
        width: 90%;
        margin-top: 10%;
        margin-left: 5%;
    }

    a.sitelinks{
        display: block;
        padding: 0;
        margin-top: 10%;

    }

    .bottomLinks{
        margin-top: 40%;
    }

    .bottomleftLink{
        margin-top: 50%;
    }

    .rightLinks{
        margin-top: 4%;
    }

    .logoutLink{
        position: absolute;
        bottom: 6%;
        left: 35%;
        color: red;
        text-align-all: center;
    }

    #homeLogo{
        width: 80%;
    }

    .loginLogo{
        width: 40%;
        position: relative;
        right: 10%;
        margin-bottom: 20%;
    }

    .inputText{
        width: 50%;
    }

    .checkInput{
        margin-left: 10%;
    }

    .iframe{
        width: 70%;
    }
}